.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 1.75rem;

  border-radius: 20px;

  box-shadow: 0px 4px 60px rgba(4, 6, 15, 0.05);

  background: var(--white);
}

.input {
  width: 18px;
  height: 18px;

  margin-right: 1em;

  cursor: pointer;

  transition: box-shadow 0.2s;
}
.input:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 15px;
}

label {
  flex: 1;
}
label.completed {
  text-decoration: line-through;
  color: var(--grey-500);
}

.title {
  font-size: 1.25rem;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background: none;
  border: none;

  border-radius: 10px;

  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s, color 0.2s;

  cursor: pointer;
}
.button:hover {
  background-color: var(--background);
  color: var(--red-500);
}
